#id1 {
  margin-top: 56px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 3%;
  text-align: center;
  background-color: rgba(146, 146, 223, 0.3);
}
#id2 {
  font-size: x-large;
  font-weight: bolder;
}
#id3 {
  font-size: large;
  font-weight: bolder;
}
.button {
  border: none;
  color: green;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button1 {
  border-radius: 3px;
}
#id4 {
  position: relative;
  top: -140px;
  left: 20px;
  z-index: 2;
}
img {
  height: 4cm;
  width: 3cm;
  border: 6px solid whitesmoke;
}
.column {
  flex: 50%;
}
.row {
  display: flex;
  margin-top: -14%;
  margin-left: -0.67%;
  margin-right: -0.67%;
}
.row2 {
  display: flex;
}
.grid-container {
  padding-left: 2%;
  display: grid;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.p {
  padding-left: 2%;
}
.item1 {
  width: 70%;
  height: 0.4cm;
}
#final {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}